body {
    background-color: #000000;
  }

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #000000;
    text-align: center
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.links {
    display: flex;
    justify-content: center;
}
